<ion-content>
  <br> <br>
  <h1 style="text-align: center;color: white;">AI ChatBot&nbsp;<ion-icon name="chatbubbles-outline"></ion-icon></h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 style="text-align: center;color: white;">Chat with an AI at anytime, anywhere. </h2>
      </ion-col>
    </ion-row>
    <ion-row style="height:20% !important;">
      <ion-col>
        <ion-button shape="round" fill="solid" color="secondary" [routerLink]="'chat'"> Start</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>