// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

ion-grid{
  height: 100%;
}
ion-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;

}
ion-col{
  text-align:center;
}
ion-content {
  --background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
